{% extends 'exservicemen/usertemplates/basic.html' %}


{% load static %}

{% block content %}


 <div class="container1">
     <div class="title">
         <h4>ESM DETAILS</h4><br></div>
         <div class="list-unstyled multi-steps" >
                <p class="li">Service</p>
                <p class="li" >Pension</p>
                <p class="li">Personal</p>
                <p class="li">Employment</p>
                <p class="li">Contact</p>
                <p class="li">Family</p>
                <p class="li  is-active">Dependent</p>
           </div><br>
    <div class="content">

      <div class="form-outer">

  <div class="tab" id="pension">
        <div class="detailname" style="overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;">
            <h4>DEPENDENT DETAILS</h4>

            </div><br>
          <br><br>
       <div class="user-details" id="form">
           </div>
       </div>
<table class="table table-hover">
              <thead >
                <tr >
                  <th scope="col" style="text-align: left; padding:20px 8px;background: #808080; color:#fff;">NAME</th>
                  <th scope="col" style="text-align: left; padding:20px 8px;background: #808080; color:#fff;">RELATION</th>
                  <th scope="col" style="text-align: left; padding:20px 8px;background: #808080; color:#fff;">DOB</th>
                  <th scope="col" style="text-align: left; padding:20px 8px;background: #808080; color:#fff;">AADHAAR NO</th>
                  <th scope="col" style="text-align: left; padding:20px 8px;background: #808080; color:#fff;">QUALIFICATION</th>
                  <th scope="col" style="text-align: left; padding:20px 8px;background: #808080; color:#fff;">ACADEMIC YEAR</th>
                  <th scope="col" style="text-align: left; padding:20px 8px;background: #808080; color:#fff;">EMPLOYED</th>
                  <th scope="col" style="text-align: left; padding:20px 8px;background: #808080; color:#fff;">MARRIED</th>
                  <th scope="col" style="text-align: left; padding:20px 8px;background: #808080; color:#fff;">ACTION</th>
                </tr>
              </thead>
            <tbody id="dep_list">

            </tbody>
</table>
<div class="btn-box" style="margin-top:4%;">
			<button type="button" id="add_dep" class="add-dep">ADD DEPENDENT</button>
		</div>
<br><br>
          <form>
     <div class="btn-box" style="margin-top:10%;">
			<button type="button" class="Next" onclick="location.href='{% url "spouse details" %}'" >BACK</button>
			<button type="button" class="Next" onclick="location.href='{% url "submit form" %}'">SUBMIT</button>
		</div>
              </form>
      </div>
    </div>
 </div>
<div class="add-popup">

    <div class="content">

      <div class="form-outer" id="add_dependent">


    </div>
    </div>
 </div>
<div class ="popup">

   <div class = "content">
    <div class = "form-outer" id="update_dependent">


</div>
</div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static "javascript/registration/dependent.js" %}"></script>
    <script>

    document.querySelector(".popup .close-btn").addEventListener("click",function(){
    document.querySelector(".popup").classList.remove("active");

    });

    </script>
{% endblock %}