{% extends 'exservicemen/usertemplates/basic.html' %}


{% load static %}

{% block content %}


 <div class="container">
     <div class="title">
         <h4>ESM DETAILS</h4><br></div>
         <div class="list-unstyled multi-steps" >
                <p class="li">Service</p>
                <p class="li" >Pension</p>
                <p class="li">Personal</p>
                <p class="li is-active">Employment</p>
                <p class="li">Contact</p>
                <p class="li">Family</p>
                <p class="li ">Dependent</p>
                <p class="li">Documents</p>
           </div><br>
    <div class="content">

      <div class="form-outer">

      <form action="#" method="post">
          {% csrf_token %}


  <div class="tab" id="pension">
        <div class="detailname" style="overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;">
            <h4>ESM NO: {{ request.session.esm_no }}</h4>

            </div><br>
          <br><br>
        <div class="user-details">
            <div class="input-box">
      <span class="details">Civil Qualification</span>
      {{ form.civil_qualification }}
          </div>
            <div class="input-box" id="div_id_specialization">
      <span class="details">Specialization</span>
      {{ form.specialization }}
          </div>
            <div class="input-box">
      <span class="details">Equivalent Test Passed:</span>
      {{ form.test_passed }}
          </div>
{#          <div class="input-box">#}
{#      <span class="details">Degree</span>#}
{#      {{ form }}#}
{#          </div>#}
{#        <div class="input-box">#}
{#      <span class="details">Equivalent trade qualification</span>#}
{#            <input type="text">#}
{#          </div>#}
          <div class="input-box">
          <span class="details">Employment Status</span>
          {{ form.employment_status }}
        </div>
          <div class="input-box" id="div_id_willing_for_job">
          <span class="details">Whether willing for Employment registration?</span>
              {{ form.willing_for_job }}
          </div>
          <div class="input-box" id="div_id_security_job">
          <span class="details">Whether willing to Watch & Ward / Security Job?</span>
          {{ form.security_job }}
        </div>
        <div class="input-box" id="div_id_sector">
          <span class="details">Sector</span>
          {{ form.sector }}
        </div>
        <div class="input-box" id="div_id_monthly_income">
          <span class="details">Monthly Income</span>
          {{ form.monthly_income }}
        </div>
        <div class="input-box" id="div_id_department">
          <span class="details">Department</span>
          {{ form.department }}
        </div>
        <div class="input-box" id="div_id_civil_retirement_date">
          <span class="details">Date of Retirement from Civil Service</span>
          {{ form.civil_retirement_date }}
        </div>
        <div class="input-box" id="div_id_civil_ppo_no">
          <span class="details">Civil PPO No</span>
          {{ form.civil_ppo_no }}
        </div>

        </div>
        <div class="btn-box">
			<button type="button" class="Next" onclick="location.href='{% url "personal details" %}'">BACK</Button>
			<button type="submit" value="submit" class="Next">NEXT</Button>
		</div>
    </div>
      </form>
      </div>
    </div>
 </div>
{% endblock %}

{% block script %}
    <script src="{% static "javascript/registration/employment.js" %}"></script>
{% endblock %}
