{% extends 'exservicemen/trail.html' %}
{% load static %}
    {% block title %} ADD NEW ESM {% endblock %}
{% block add_users_home %}
    <div class="container">
     <div class="title">
         <h4>ADD NEW ESM DETAILS</h4><br></div>
         <br>
     <div class="content">
      <div class="form-outer">
 <form name="esm_basic_form" id="esmbasicform" method="post" action="">
 {% csrf_token %}
     <div class="detailname" style="overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;">
            <h4>BASIC DETAILS</h4>
            </div>
 <div class="user-details">

     <div class="input-box">
      <span class="details">ESM No:</span>
      <div class="input"  style="display:flex; flex-direction: row;">
        <input type="text" style="width:30%; margin-right: 3px;" value="{{ rsbcode }}" disabled >
          <input type="text" style="width:20%; margin-right: 3px;" value="{{ zsbcode }}" disabled>
       {{ esmbasic.esm_no }}
          <p class ="errorlist">{{ esmbasic.esm_no.errors.as_text }}</p>
          </div>
    </div>
         <div class="input-box">
      <span class="details">Registration Type</span>
     {{ esmbasic.reg_category }}
    </div>
    </div>
     <div class="btn-box">
			<button type="submit" value="Submit" class="Next">Next</Button>
            </div>
 </form>
      </div>
     </div>
     </div>
    {% endblock %}
{% block script %}
    <script src="{% static "javascript/registration/add_users_home.js" %}"></script>
{% endblock %}