{% extends 'exservicemen/usertemplates/basic.html' %}


{% load static %}

{% block content %}


      <form action="#"  name="form"  id="form" method="post" autocomplete="on">
          {% csrf_token %}

  <div class="tab" id="pension">
        <div class="detailname" style="overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;">
           <h4>ESM NO: {{ request.session.esm_no }}</h4>
            </div><br>
        <div class="user-details">
            <div class="input-box">
            <span class="details">Unit last Served</span>
            {{ form.unit_last_served }}
          </div>
          <div class="input-box">
            <span class="details">Date of Discharge</span>
            {{ form.discharge_date }}
          </div>
          <div class="input-box">
            <span class="details">Reason for Discharge</span>
            {{ form.discharge_reason }}
          </div>

          <div class="input-box">
            <span class="details">Medical category while Discharge</span>
              {{ form.medical_category }}
          </div>
          <div class="input-box">
            <span class="details">Character while Discharge</span>
            {{ form.character }}
          </div>
          <div class="input-box">
            <span class="details">Discharge Book No</span>
            {{ form.discharge_book_no }}
          </div>
        <div class="input-box">
            <span class="details">Whether pensioner?</span>
            {{ form.pensioner_status }}
          </div>
          <div class="input-box" id="div_id_ppo_no">
            <span class="details">PPO No</span>
            {{ form.ppo_no }}
          </div>
          <div class="input-box" id="div_id_pension_sanctioned">
            <span class="details">Pension Sanctioned</span>
            {{ form.pension_sanctioned }}
          </div>
          <div class="input-box" id="div_id_present_pension">
            <span class="details">Present Pension</span>
            {{ form.present_pension }}
          </div>
        <div class="input-box" id="div_id_whether_pwd">
            <span class="details">Whether Person with Disability?</span>
            {{ form.whether_pwd }}
          </div>
          <div class="input-box" id="div_id_disability_pension">
            <span class="details">Disability Pension</span>
            {{ form.disability_pension }}
          </div>
          <div class="input-box" id="div_id_disability_percent">
            <span class="details">Percentage of Disability</span>
            {{ form.disability_percent }}
          </div>
        </div>
        <div class="btn-box">
			<button type="button" class="Next" onclick="location.href='{% url "service details" %}'" value="">BACK</Button>
			<button type="submit" class="Next" value="submit">NEXT</Button>
		</div>
    </div>
      </form>
      </div>
    </div>
 </div>
{% endblock %}

{% block script %}
    <script src="{% static "javascript/registration/pension.js" %}"></script>
{% endblock %}