{% extends 'exservicemen/usertemplates/basic.html' %}


{% load static %}

{% block content %}



      <form action="#" method="post">
          {% csrf_token %}

  <div class="tab" id="pension">
        <div class="detailname" style="overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;">
            <h4>ESM NO: {{ request.session.esm_no }}</h4>

            </div><br>
          <br><br>
{#      {{ form.errors }}#}
        <div class="user-details">
             <div class="input-box">
      <span class="details">Name of the Next of Kin</span>
      {{ form.next_of_kin }}
    </div>
    <div class="input-box">
      <span class="details">Relation to the ESM</span>
      {{ form.nok_relation }}
    </div>
            <div class="input-box">
      <span class="details">Marital Status</span>
      {{ form.marital_status }}
    </div>
             <div class="input-box" id="div_id_spouse_name">
      <span class="details">Spouse Name</span>
      {{ form.spouse_name }}
                 {{ form.spouse_name.errors }}
    </div>
    <div class="input-box" id="div_id_marriage_date">
      <span class="details">Date of Marriage</span>
      {{ form.marriage_date }}
    </div>
    <div class="input-box" id="div_id_spouse_relation">
      <span class="details">Spouse Relation</span>
        {{ form.spouse_relation }}
    </div>
    <div class="input-box" id="div_id_dob">
      <span class="details">Spouse Date of Birth</span>
      {{ form.dob }}
    </div>
    <div class="input-box" id="div_id_spouse_qualification">
      <span class="details">Spouse Qualification</span>
      {{ form.spouse_qualification }}
    </div>
    <div class="input-box" id="div_id_spouse_employment_status">
      <span class="details">Spouse Employment Status</span>
      {{ form.spouse_employment_status }}
    </div>
    <div class="input-box" id="div_id_spouse_profession">
      <span class="details">Spouse Employed Profession</span>
      {{ form.spouse_profession }}
    </div>
    <div class="input-box" id="div_id_spouse_retirement_date">
      <span class="details">Date of Retirement of spouse</span>
      {{ form.spouse_retirement_date }}
    </div>
    <div class="input-box" id="div_id_spouse_aadhaar">
      <span class="details">Spouse Aadhaar No</span>
      {{ form.aadhaar_no }}
    </div>
    <div class="input-box" id="div_id_spouse_voter_id">
      <span class="details">Spouse Voter ID No</span>
      {{ form.voter_id_no }}
    </div>
    <div class="input-box" id="div_id_spouse_pan_id">
      <span class="details">Spouse PAN Card No</span>
      {{ form.pan_no }}
    </div>
    <div class="input-box" id="div_id_spouse_csd_id">
      <span class="details">Spouse CSD Card No</span>
      {{ form.csd_no }}
    </div>
    <div class="input-box" id="div_id_spouse_echs_id">
      <span class="details">Spouse ECHS Card No</span>
      {{ form.echs_no }}
    </div>
     <div class="input-box" id="div_id_ident1">
         <span class="details">Identification Mark1</span>
            {{ form.ident_mark_1 }}
     </div>
    <div class="input-box" id="div_id_ident2">
     <span class="details">Identification Mark 2</span>
      {{ form.ident_mark_2 }}
    </div>
        </div>
        <div class="btn-box">
			<button type="button" class="Next" onclick="location.href='{% url "contact details" %}'">BACK</Button>
			<button type="submit" class="Next">NEXT</Button>
		</div>
    </div>
      </form>
      </div>
    </div>
 </div>
{% endblock %}

{% block script %}
    <script src="{% static "javascript/registration/spouse.js" %}"></script>
{% endblock %}