{% extends 'exservicemen/usertemplates/basic.html' %}
{% load static %}
    {% block title %} APPLY FOR REGISTRATION {% endblock %}
{% block content %}
     <div class="container">
     <div class="title">
         <h4>LOGIN REQUEST</h4><br></div>
    <br><br><br>
     <div class="content">
      <div class="form-outer">
 <form enctype="multipart/form-data" id="applyform" name="applyform" onsubmit="return validateform()"
                  data-records-url="{% url 'ajax_load_records' %}"
                  data-trades-url="{% url 'ajax_load_trades' %}"
                  data-ranks-url="{% url 'ajax_load_ranks' %}"
                  data-districts-url="{% url 'ajax_load_districts' %}"
                  method="post" action="">
 {% csrf_token %}
        <div class="detailname" style="overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;">
          <div class="detailname" style="overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;">

            <h4>Signup</h4>
            </div><br><br>
          <div class="user-details">

 <div class="input-box">
      <span class="details">Email</span>
     {{ loginform.email }}
    </div>
     <div class="input-box">
      <span class="details">Password</span>
      {{ loginform.password1 }}
    </div>
     <div class="input-box">
      <span class="details">Confirm Password</span>
      {{ loginform.password2 }}
    </div>
      </div>
            {{ loginform.errors }}
            <div class="btn-box">
			<button type="submit" value="Submit" class="Next">SUBMIT</Button>
            </div>
     </form>
      </div>
     </div>
     </div>
{% endblock %}
{% block script %}
    <script src="{% static "javascript/apply/apply.js" %}"></script>
{% endblock %}