{% extends 'exservicemen/usertemplates/basic.html' %}
{% load static %}
    {% block title %} APPLY FOR REGISTRATION {% endblock %}
{% block content %}
     <div class="container">
     <div class="title">
         <h4>LOGIN REQUEST</h4><br></div>
    <div class="tabs">
          <div><button id="defaultOpen" class="Next" onclick="details(Event,'service')" >Service</button></div>
          <div><button class="Next" onclick="details(Event,'login')">Login</button></div>

        </div><br><br><br>
     <div class="content">

      <div class="form-outer">

 <form enctype="multipart/form-data" id="applyform" name="applyform"
                  data-records-url="{% url 'ajax_load_records' %}"
                  data-trades-url="{% url 'ajax_load_trades' %}"
                  data-ranks-url="{% url 'ajax_load_ranks' %}"
                  data-districts-url="{% url 'ajax_load_districts' %}"
                  method="post" action="">
 {% csrf_token %}
      <div class="tab" id="service">
        <div class="detailname" style="overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;">
            <h4>SERVICE DETAILS</h4>
            </div><br><br>
      <div class="user-details">
      <div class="input-box" id="div_id_name">
            <span class="details" >Name</span>
            {{ basicform.name }}
          </div>
<div class="input-box" id="div_id_basic_reg_type">
            <span class="details">Registration Type </span>
            {{ basicform.basic_reg_type }}
          </div>

<div class="input-box" id="div_id_esm_no">
            <span class="details" >ESM Registration No</span>
            {{ basicform.esm_no }}
          </div>
<div class="input-box" id="div_id_zsb">
            <span class="details" >Previous Zila Sainik Board </span>
           {{ basicform.zsb }}
          </div>
<div class="input-box" id="div_id_expiry_date">
            <span class="details">Expiry Date of ESM</span>
            {{ basicform.expiry_date }}
          </div>
<div class="input-box" id="div_id_esm_reg_type">
            <span class="details">ESM Registration Type </span>
            {{ basicform.esm_reg_type }}
          </div>
<div class="input-box" id="div_id_service">
            <span class="details">Service</span>
            {{ basicform.service }}
          </div>
<div class="input-box" id="div_id_corps">
            <span class="details">Corps</span>
            {{ basicform.corps }}
          </div>

<div class="input-box" id="div_id_record_office">
            <span class="details" >Record Office</span>
            {{ basicform.record_office }}
          </div>
<div class="input-box" id="div_id_service_no">
            <span class="details" >Service No</span>
            {{ basicform.service_no }}
          </div>
<div class="input-box" id="div_id_group">
            <span class="details">Group</span>
            {{ basicform.group }}
          </div>
<div class="input-box" id="div_id_trade">
            <span class="details">Trade</span>
            {{ basicform.trade }}
          </div>
<div class="input-box" id="div_id_rank_category">
            <span class="details">Rank Category</span>
            {{ basicform.rank_category }}
          </div>
<div class="input-box" id="div_id_rank">
            <span class="details">Rank</span>
            {{ basicform.rank }}
          </div>
<div class="input-box" id="div_id_state">
            <span class="details">State</span>
            {{ basicform.state }}
          </div>
<div class="input-box" id="div_id_district">
            <span class="details">Districts</span>
            {{ basicform.district }}

</div>
      <div class="input-box file" id="div_id_discharge_book">
            <span class="details">Discharge Book</span>
         {{ basicform.discharge_book }}
</div>
      <div class="input-box file" id="div_id_ppo_book">
            <span class="details">PPO Book</span>
          {{ basicform.ppo_book }}
</div>
<div class="input-box file" id="div_id_residence_certificate">
            <span class="details">Residence Certificate</span>
          {{ basicform.residence_certificate }}
</div>
      </div>
          <div class="detailname" style="overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;">

            <h4>LOGIN DETAILS</h4>
            </div><br><br>
          <div class="user-details">
                   <div class="input-box" id="div_id_mobile">

                           <span class="details">Mobile</span>
          {{ basicform.mobile }}
</div>
 <div class="input-box">
      <span class="details">Email</span>
     {{ loginform.email }}
    </div>
     <div class="input-box">
      <span class="details">Password</span>
      {{ loginform.password1 }}
    </div>
     <div class="input-box">
      <span class="details">Confirm Password</span>
      {{ loginform.password2 }}
    </div>
      </div>
      </div>

            <div class="btn-box">
			<button type="submit" value="Submit" class="next">SUBMIT</Button>
            </div>
     </form>
      </div>
     </div>
     </div>
{% endblock %}
{% block script %}
    <script src="{% static "javascript/apply/apply.js" %}"></script>
{% endblock %}


