{% extends 'exservicemen/usertemplates/basic.html' %}


{% load static %}

{% block content %}


 <div class="container">
     <div class="title">
         <h4>ESM DETAILS</h4><br></div>
         <div class="tabs">
          <div><button id="defaultOpen" class="Next" onclick="details(Event,'service')" >Service</button></div>
          <div><button class="Next" onclick="details(Event,'pension')">Pension</button></div>
          <div><button class="Next" onclick="details(Event,'personal')">Personal</button></div>
          <div><button class="Next" onclick="details(Event,'contact')">Contact</button></div>
          <div><button class="Next" onclick="details(Event,'family')">Family</button></div>
          <div><button class="Next" onclick="details(Event,'depentant')">Dependent</button></div>
            <div><button class="Next" onclick="details(Event,'Employement')">Employment</button></div>
        </div><br>
    <div class="content">

      <div class="form-outer">

      <form action="#" method="post" name="contactform" id="contactform" data-districts-url="{% url 'ajax_load_districts' %}">
          {% csrf_token %}


  <div class="tab" id="pension">
        <div class="detailname" style="overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;">
            <h4>CONTACT DETAILS</h4>

            </div>
      <h4>PERMANENT ADDRESS</h4>
        <div class="user-details">

<div class="input-box">
        <span class="details">House No</span>
        {{ form1.house_no }}
      </div>
      <div class="input-box">
        <span class="details">House Name</span>
        {{ form1.house_name }}
      </div>
      <div class="input-box">
        <span class="details">Street</span>
        {{ form1.street_name }}
      </div>
      <div class="input-box">
        <span class="details">City</span>
        {{ form1.city }}
      </div>
      <div class="input-box">
        <span class="details">State</span>
        {{ form1.state }}
      </div>
      <div class="input-box">
        <span class="details">District</span>
        {{ form1.district }}
      </div>
      <div class="input-box">
        <span class="details">Pincode</span>
        {{ form1.pincode }}
      </div>
      <div class="input-box">
        <span class="details">Telephone No</span>
        {{ form1.telephone }}
      </div>
{#    <div class="input-box">#}
    <span class="details">Whether present address as same as permanent address?</span>
    {{ form1.is_address_same }}
{#    </div>#}

        </div>
      <div id="presentaddress">
      <h4>PRESENT ADDRESS</h4>
      <div class="user-details">
<div class="input-box">
        <span class="details">House No</span>
        {{ form2.house_no }}
      </div>
      <div class="input-box">
        <span class="details">House Name</span>
        {{ form2.house_name }}
      </div>
      <div class="input-box">
        <span class="details">Street</span>
        {{ form2.street_name }}
      </div>
      <div class="input-box">
        <span class="details">City</span>
        {{ form2.city }}
      </div>
      <div class="input-box">
        <span class="details">State</span>
        {{ form2.state }}
      </div>
      <div class="input-box">
        <span class="details">District</span>
        {{ form2.district }}
      </div>
      <div class="input-box">
        <span class="details">Pincode</span>
        {{ form2.pincode }}
      </div>
        </div>
          </div>
      {{ form1.errors }}
      {{ form2.errors }}
        <div class="btn-box">
			<button type="button" class="Next" onclick="details(Event,'service')">BACK</Button>
			<button type="submit" class="Next" value="submit">NEXT</Button>
		</div>
    </div>
      </form>
      </div>
    </div>
 </div>
{% endblock %}
{% block script %}
    <script src="{% static "javascript/registration/contact.js" %}"></script>
{% endblock %}