{% extends 'exservicemen/usertemplates/basic.html' %}


{% load static %}

{% block content %}


 <div class="container">
     <div class="title">
         <h4>ESM DETAILS</h4><br></div>
         <div class="tabs">
          <div><button id="defaultOpen" class="Next" onclick="details(Event,'service')" >Service</button></div>
          <div><button class="Next" onclick="details(Event,'pension')">Pension</button></div>
          <div><button class="Next" onclick="details(Event,'personal')">Personal</button></div>
          <div><button class="Next" onclick="details(Event,'Employement')">Employment</button></div>
          <div><button class="Next" onclick="details(Event,'contact')">Contact</button></div>
          <div><button class="Next" onclick="details(Event,'family')">Family</button></div>
          <div><button class="Next" onclick="details(Event,'depentant')">Depentant</button></div>

        </div><br><br><br>
    <div class="content">

      <div class="form-outer">

      <form action="#">
          {% csrf_token %}


  <div class="tab" id="pension">
        <div class="detailname" style="overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;">
            <h4>PENSION DETAILS</h4>

            </div><br>
          <br><br>
        <div class="user-details">
            <div class="input-box">
      <span class="details">Civil Qualification</span>
      <select required>
              <option value="" disabled selected hidden>--Select an option--</option>
            </select>
          </div>
          <div class="input-box">
      <span class="details">Degree</span>
      <select required>
              <option value="" disabled selected hidden>--Select an option--</option>
            </select>
          </div>
        <div class="input-box">
      <span class="details">Equivalent trade qualification</span>
      <input type="text" required>
          </div>
          <div class="input-box">
          <span class="details">Employment Status</span>
          <select required>
              <option value="" disabled selected hidden>--Select an option--</option>
            </select>
        </div>
          <div class="input-box">
          <span class="details">Whether willing for Employment registration?</span>
              <select required>
              <option value="" disabled selected hidden>--Select an option--</option>
            </select>
          </div>
          <div class="input-box">
          <span class="details">Whether willing to Watch & Ward / Security Job?</span>
          <select required>
              <option value="" disabled selected hidden>--Select an option--</option>
            </select>
        </div>
          <div class="input-box">
          <span class="details">Courses completed in relation with firesafety and security</span>
          <input type="text" required>
        </div>
        <div class="input-box">
          <span class="details">Employer</span>
          <input type="text" required>
        </div>
        <div class="input-box">
          <span class="details">Monthly Income</span>
          <input type="number" required>
        </div>
        <div class="input-box">
          <span class="details">Department</span>
          <select required>
              <option value="" disabled selected hidden>--Select an option--</option>
            </select>
        </div>
        <div class="input-box">
          <span class="details">Date of Retirement from Civil Service</span>
          <input type="date" required>
        </div>
        <div class="input-box">
          <span class="details">Civil PPO No</span>
          <input type="text" required>
        </div>

        </div>
        <div class="btn-box">
			<button type="button" class="Next" onclick="details(Event,'service')">BACK</Button>
			<button type="submit" class="Next" onclick="details(Event,'personal')">NEXT</Button>
		</div>
    </div>
      </form>
      </div>
    </div>
 </div>




    <script type="text/javascript">
    function hideeveything() {
        $('#div_id_willing_for_job').attr("hidden", true);
        $('#div_id_security_job').attr("hidden", true);
        $('#div_id_employer').attr("hidden", true);
        $('#div_id_monthly_income').attr("hidden", true);
        $('#div_id_department').attr("hidden", true);
        $('#div_id_civil_retirement_date').attr("hidden", true);
        $('#div_id_civil_ppo_no').attr("hidden", true);
    }
    function showemp(){
         $('#div_id_employer').attr("hidden", false);
        $('#div_id_monthly_income').attr("hidden", false);
        $('#div_id_department').attr("hidden", false);
    }
    function showunemp(){
        $('#div_id_willing_for_job').attr("hidden", false);
    }
    function showretired(){
        $('#div_id_civil_retirement_date').attr("hidden", false);
        $('#div_id_civil_ppo_no').attr("hidden", false);
    }
    $('#id_employment_status').change(function () {
        hideeveything();
        if ($(this).val() === 'E') {
            showemp();
        } else if ($(this).val() === 'U') {
            showunemp();
        } else if ($(this).val() === 'R') {
            showretired();
        }
    });
    $('#id_willing_for_job').change(function () {
        if ($(this).val() === 'Y') {
            $('#div_id_security_job').attr("hidden", false);
        } else if ($(this).val() === 'N') {
            hideeveything();
            $('#div_id_willing_for_job').attr("hidden", false);
        }
    });
    $(document).ready(function(){
        hideeveything();
    });
    </script>