<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class = "container" id="user-login">
<div class = "user loginbx" id="officer">
                      <div class = " formbx">
                          <form>
                              <div class="logo"><img src="{% static "images/Login/logo.png" %}" width=42px height =42px style="margin-top: -60px;"></div>
                              <h1>SAINIK WELFARE DEPARTMENT</h1>
                              <h2>Officer Login</h2>
                              <input type = "text" name = "" placeholder="Username">
                              <input type = "password" name = "" placeholder="Password">
                              <input type = "submit" name = "" value="LOGIN">
                              <p class = "signup">Switch to <a href = "#" onclick="toggleForm();">User Login</a></p>
                          </form>
                      </div>
                      <div class = "imgbx"><img src="{% static "images/Login/login_image.jpg" %}" ></div>
                    </div>
 </div>

</body>
</html>