{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>ESM Login</title>
        <link rel = "stylesheet" href="{% static "css/Login/index.css" %}">
    </head>
    <body>
        <section>
            <div class = "container" id="user-login">
                <div class = "user signinbx">
                  <div class = "imgbx"><img src="{% static "images/Login/army-day.jpg" %}" ></div>
                    <div class = " formbx">
                        <form method="post">
                            {% csrf_token %}
                            <div class="logo"><img src="{% static "images/Login/logo.png" %}" width=42px height =42px style="margin-top: -60px;"></div>
                            <h1>SAINIK WELFARE DEPARTMENT</h1>
                            <h2>User Login</h2>
                            <input type = "text" name = "email" placeholder="Registered ID">
                            <input type = "password" name = "password" placeholder="Password">
                            <input type = "submit" name = "" value="LOGIN">
                            <p class = "signup">Don't have an account ? <a href ={% url 'apply' %}>Register Here</a></p> <br>
                            <p class = "admin"> Switch to <a href = "{% url 'officer login' %}">Officer Login</a></p>
                        </form>
                    </div>
                  </div>
            </div>
        </section>
    </body>
</html>