{% extends 'exservicemen/usertemplates/basic.html' %}


{% load static %}

{% block content %}


 <div class="container">
     <div class="title">
         <h4>ESM DETAILS</h4><br></div>
         <div class="tabs">
          <div><button class="Next">Service</button></div>
          <div><button class="Next" onclick="details(Event,'pension')">Pension</button></div>
          <div><button class="Next" onclick="details(Event,'personal')">Personal</button></div>
          <div><button class="Next" onclick="details(Event,'Employement')">Employment</button></div>
          <div><button class="Next" onclick="details(Event,'contact')">Contact</button></div>
          <div><button class="Next" onclick="details(Event,'family')">Family</button></div>
         <div><button class="Next" onclick="details(Event,'dependent')">Dependent</button></div>

        </div><br><br><br>
    <div class="content">

      <div class="form-outer">

      <form action="#" method="post" autocomplete="off">
          {% csrf_token %}

  <div class="tab" id="pension">
        <div class="detailname" style="overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;">
            <h4>DEPENDENT DETAILS</h4>

            </div><br>
          <br><br>
      {% for form in formset %}
        <div class="user-details">
        <div class="input-box">
      <span class="details">Name</span>

            {{ form.dep_name }}
    </div>
    <div class="input-box">
      <span class="details">Relation</span>

        {{ form.dep_relation }}
    </div>
    <div class="input-box">
      <span class="details">Date of Birth</span>

        {{ form.dep_dob }}
    </div>
    <div class="input-box">
      <span class="details">Aadhaar Card No</span>

        {{ form.aadhaar_no }}
    </div>
    <div class="input-box">
      <span class="details">Qualification</span>

        {{ form.dep_qualification }}
    </div>
    <div class="input-box">
      <span class="details">Academic Year</span>
        {{ form.academic_year }}
    </div>
    <div class="input-box">
      <span class="details">Employment Status</span>
        {{ form.emp_status }}
    </div>
    <div class="input-box">
      <span class="details">Marital Status</span>
        {{ form.marital_status }}
    </div>
        </div>
          <div class="individual-form">
        </div>
      {% endfor %}
    <button type="button" class="Next" >REMOVE</button>
    <button onclick="{% url 'add dependent' %}">SAVE AND ADD ONE MORE DEPENDENT</button>
      <div class="btn-box">
			<button type="button" class="Next">BACK</Button>
			<button type="submit" class="Next" value="submit">NEXT</Button>
		</div>
    </div>
      </form>
      </div>
    </div>
 </div>
{% endblock %}
{% block script %}
    <script src="{% static "javascript/registration/dependent.js" %}"></script>
{% endblock %}