{% extends 'exservicemen/usertemplates/basic.html' %}


{% load static %}

{% block content %}


 <div class="container">
     <div class="title">
         <h4>ESM DETAILS</h4><br></div>
         <div class="tabs">
          <div><button class="Next">Service</button></div>
          <div><button class="Next" onclick="details(Event,'pension')">Pension</button></div>
          <div><button class="Next" onclick="details(Event,'personal')">Personal</button></div>
          <div><button class="Next" onclick="details(Event,'Employement')">Employment</button></div>
          <div><button class="Next" onclick="details(Event,'contact')">Contact</button></div>
          <div><button class="Next" onclick="details(Event,'family')">Family</button></div>
         <div><button class="Next" onclick="details(Event,'dependent')">Dependent</button></div>

        </div><br><br><br>
    <div class="content">

      <div class="form-outer">

      <form action="#" method="post" autocomplete="off">
          {% csrf_token %}

  <div class="tab" id="pension">
        <div class="detailname" style="overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;">
            <h4>DEPENDENT DETAILS</h4>

            </div><br>
          <br><br>
      {{ formset.management_form }}
      {% for form in formset %}
        <div class="user-details">
        <div class="input-box">
      <span class="details">Name</span>

            {{ form.dep_name }}
    </div>
    <div class="input-box">
      <span class="details">Relation</span>

        {{ form.dep_relation }}
    </div>
    <div class="input-box">
      <span class="details">Date of Birth</span>

        {{ form.dep_dob }}
    </div>
    <div class="input-box">
      <span class="details">Aadhaar Card No</span>

        {{ form.aadhaar_no }}
    </div>
    <div class="input-box">
      <span class="details">Qualification</span>

        {{ form.dep_qualification }}
    </div>
    <div class="input-box">
      <span class="details">Academic Year</span>

        {{ form.academic_year }}
    </div>
    <div class="input-box">
      <span class="details">Employment Status</span>
        {{ form.emp_status }}



    </div>
    <div class="input-box">
      <span class="details">Marital Status</span>
        {{ form.marital_status }}




    </div>


        </div>
      {% endfor %}
      <div class="btn-box">
			<button type="button" class="Next" onclick="details(Event,'service')">BACK</Button>
			<button type="submit" class="Next" onclick="details(Event,'personal')">NEXT</Button>
		</div>
    </div>
      </form>
      </div>
    </div>
 </div>
{% endblock %}
{% block script %}
    <script src="{% static "javascript/registration/dependent.js" %}"></script>
{% endblock %}
          <hr>
{#          <div class="user-details" hidden>#}
{#            <input type="number" name="form-1-dep_no" value=2 id="id_form-1-dep_no" class="form-00" hidden>#}
{#        <div class="input-box">#}
{#      <span class="details">Name</span>#}
{##}
{#            <input type="text" name="form-1-dep_name" maxlength="50" id="id_form-1-dep_name" class="form-1">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Relation</span>#}
{##}
{#        <select name="form-1-dep_relation" id="id_form-1-dep_relation" class="form-1">#}
{#  <option value="" selected="">---------</option>#}
{##}
{#  <option value="W">Wife</option>#}
{##}
{#  <option value="S">Son</option>#}
{##}
{#  <option value="D">Daughter</option>#}
{##}
{#  <option value="H">Husband</option>#}
{##}
{#  <option value="F">Father</option>#}
{##}
{#  <option value="M">Mother</option>#}
{##}
{#  <option value="s">Sister</option>#}
{##}
{#  <option value="B">Brother</option>#}
{##}
{#</select>#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Date of Birth</span>#}
{##}
{#        <input type="date" name="form-1-dep_dob" id="id_form-1-dep_dob" class="form-1">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Aadhaar Card No</span>#}
{##}
{#        <input type="text" name="form-1-aadhaar_no" maxlength="12" id="id_form-1-aadhaar_no" class="form-1">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Qualification</span>#}
{##}
{#        <input type="text" name="form-1-dep_qualification" maxlength="40" id="id_form-1-dep_qualification" class="form-1">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Academic Year</span>#}
{##}
{#        <input type="text" name="form-1-academic_year" maxlength="4" id="id_form-1-academic_year" class="form-1">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Employment Status</span>#}
{#        <select name="form-1-emp_status" id="id_form-1-emp_status" class="form-1">#}
{#  <option value="" selected="">---------</option>#}
{##}
{#  <option value="E">Employed</option>#}
{##}
{#  <option value="U">UnEmployed</option>#}
{##}
{#</select>#}
{##}
{##}
{##}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Marital Status</span>#}
{#        <select name="form-1-marital_status" id="id_form-1-marital_status" class="form-1">#}
{#  <option value="" selected="">---------</option>#}
{##}
{#  <option value="U">Unmarried</option>#}
{##}
{#  <option value="M">Married</option>#}
{##}
{#</select>#}
{##}
{##}
{##}
{#    </div>#}
{##}
{##}
{#        </div>#}
{#          <div class="user-details" hidden>#}
{#        <input type="number" name="form-2-dep_no" value=3 id="id_form-2-dep_no" class="form-00" hidden>#}
{#        <div class="input-box">#}
{#      <span class="details">Name</span>#}
{##}
{#            <input type="text" name="form-2-dep_name" maxlength="50" id="id_form-2-dep_name" class="form-2">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Relation</span>#}
{##}
{#        <select name="form-2-dep_relation" id="id_form-2-dep_relation" class="form-2">#}
{#  <option value="" selected="">---------</option>#}
{##}
{#  <option value="W">Wife</option>#}
{##}
{#  <option value="S">Son</option>#}
{##}
{#  <option value="D">Daughter</option>#}
{##}
{#  <option value="H">Husband</option>#}
{##}
{#  <option value="F">Father</option>#}
{##}
{#  <option value="M">Mother</option>#}
{##}
{#  <option value="s">Sister</option>#}
{##}
{#  <option value="B">Brother</option>#}
{##}
{#</select>#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Date of Birth</span>#}
{##}
{#        <input type="date" name="form-2-dep_dob" id="id_form-2-dep_dob" class="form-2">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Aadhaar Card No</span>#}
{##}
{#        <input type="text" name="form-2-aadhaar_no" maxlength="12" id="id_form-2-aadhaar_no" class="form-2">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Qualification</span>#}
{##}
{#        <input type="text" name="form-2-dep_qualification" maxlength="40" id="id_form-2-dep_qualification" class="form-2">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Academic Year</span>#}
{##}
{#        <input type="text" name="form-2-academic_year" maxlength="4" id="id_form-2-academic_year" class="form-2">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Employment Status</span>#}
{#        <select name="form-2-emp_status" id="id_form-2-emp_status" class="form-2">#}
{#  <option value="" selected="">---------</option>#}
{##}
{#  <option value="E">Employed</option>#}
{##}
{#  <option value="U">UnEmployed</option>#}
{##}
{#</select>#}
{##}
{##}
{##}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Marital Status</span>#}
{#        <select name="form-2-marital_status" id="id_form-2-marital_status" class="form-2">#}
{#  <option value="" selected="">---------</option>#}
{##}
{#  <option value="U">Unmarried</option>#}
{##}
{#  <option value="M">Married</option>#}
{##}
{#</select>#}
{##}
{##}
{##}
{#    </div>#}
{##}
{##}
{#        </div>#}
{#          <div class="user-details" hidden>#}
{#        <input type="number" name="form-3-dep_no" value=4 id="id_form-3-dep_no" class="form-00" hidden>#}
{#        <div class="input-box">#}
{#      <span class="details">Name</span>#}
{##}
{#            <input type="text" name="form-3-dep_name" maxlength="50" id="id_form-3-dep_name" class="form-3">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Relation</span>#}
{##}
{#        <select name="form-3-dep_relation" id="id_form-3-dep_relation" class="form-3">#}
{#  <option value="" selected="">---------</option>#}
{##}
{#  <option value="W">Wife</option>#}
{##}
{#  <option value="S">Son</option>#}
{##}
{#  <option value="D">Daughter</option>#}
{##}
{#  <option value="H">Husband</option>#}
{##}
{#  <option value="F">Father</option>#}
{##}
{#  <option value="M">Mother</option>#}
{##}
{#  <option value="s">Sister</option>#}
{##}
{#  <option value="B">Brother</option>#}
{##}
{#</select>#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Date of Birth</span>#}
{##}
{#        <input type="date" name="form-3-dep_dob" id="id_form-3-dep_dob" class="form-3">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Aadhaar Card No</span>#}
{##}
{#        <input type="text" name="form-3-aadhaar_no" maxlength="12" id="id_form-3-aadhaar_no" class="form-3">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Qualification</span>#}
{##}
{#        <input type="text" name="form-3-dep_qualification" maxlength="40" id="id_form-3-dep_qualification" class="form-3">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Academic Year</span>#}
{##}
{#        <input type="text" name="form-3-academic_year" maxlength="4" id="id_form-3-academic_year" class="form-3">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Employment Status</span>#}
{#        <select name="form-3-emp_status" id="id_form-3-emp_status" class="form-3">#}
{#  <option value="" selected="">---------</option>#}
{##}
{#  <option value="E">Employed</option>#}
{##}
{#  <option value="U">UnEmployed</option>#}
{##}
{#</select>#}
{##}
{##}
{##}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Marital Status</span>#}
{#        <select name="form-3-marital_status" id="id_form-3-marital_status" class="form-3">#}
{#  <option value="" selected="">---------</option>#}
{##}
{#  <option value="U">Unmarried</option>#}
{##}
{#  <option value="M">Married</option>#}
{##}
{#</select>#}
{##}
{##}
{##}
{#    </div>#}
{##}
{##}
{#        </div>#}
{#          <div class="user-details" hidden>#}
{#            <input type="number" name="form-4-dep_no" value=5 id="id_form-4-dep_no" class="form-00" hidden>#}
{#        <div class="input-box">#}
{#      <span class="details">Name</span>#}
{##}
{#            <input type="text" name="form-4-dep_name" maxlength="50" id="id_form-4-dep_name" class="form-4">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Relation</span>#}
{##}
{#        <select name="form-4-dep_relation" id="id_form-4-dep_relation" class="form-4">#}
{#  <option value="" selected="">---------</option>#}
{##}
{#  <option value="W">Wife</option>#}
{##}
{#  <option value="S">Son</option>#}
{##}
{#  <option value="D">Daughter</option>#}
{##}
{#  <option value="H">Husband</option>#}
{##}
{#  <option value="F">Father</option>#}
{##}
{#  <option value="M">Mother</option>#}
{##}
{#  <option value="s">Sister</option>#}
{##}
{#  <option value="B">Brother</option>#}
{##}
{#</select>#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Date of Birth</span>#}
{##}
{#        <input type="date" name="form-4-dep_dob" id="id_form-4-dep_dob" class="form-4">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Aadhaar Card No</span>#}
{##}
{#        <input type="text" name="form-4-aadhaar_no" maxlength="12" id="id_form-4-aadhaar_no" class="form-4">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Qualification</span>#}
{##}
{#        <input type="text" name="form-4-dep_qualification" maxlength="40" id="id_form-4-dep_qualification" class="form-4">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Academic Year</span>#}
{##}
{#        <input type="text" name="form-4-academic_year" maxlength="4" id="id_form-4-academic_year" class="form-4">#}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Employment Status</span>#}
{#        <select name="form-4-emp_status" id="id_form-4-emp_status" class="form-4">#}
{#  <option value="" selected="">---------</option>#}
{##}
{#  <option value="E">Employed</option>#}
{##}
{#  <option value="U">UnEmployed</option>#}
{##}
{#</select>#}
{##}
{##}
{##}
{#    </div>#}
{#    <div class="input-box">#}
{#      <span class="details">Marital Status</span>#}
{#        <select name="form-4-marital_status" id="id_form-4-marital_status" class="form-4">#}
{#  <option value="" selected="">---------</option>#}
{##}
{#  <option value="U">Unmarried</option>#}
{##}
{#  <option value="M">Married</option>#}
{##}
{#</select>#}
{##}
{#    </div>#}
{##}
{#        </div>#}
{#        <button type="button" class="Next" id="addform">ADD</button>#}
{#        <button type="button" class="Next" id="removeform">REMOVE</button>#}
{#        <div class="btn-box">#}
{#			<button type="button" class="Next" onclick="details(Event,'service')">BACK</Button>#}
{#			<button type="submit" class="Next" onclick="details(Event,'personal')">NEXT</Button>#}
{#		</div>#}
{#    </div>#}
{#      </form>#}
{#      </div>#}
{#    </div>#}
{# </div>#}
{#{% endblock %}#}
{#{% block script %}#}
{#    <script src="{% static "javascript/registration/dependent.js" %}"></script>#}
{#{% endblock %}#}