{% extends 'exservicemen/trail.html' %}
{% load static %}
{% block content %}
    <form action="#"  name="form"  id="form" method="post">
    <div class="container2" style="width:90%;align-items:center;justify-content:center;margin-left:5%;">
             <div class="title" style="display:flex;flex-direction:row;">
                <i class="fas fa-filter fa-2x" style="margin-top:5px;"></i>
                 <h4>FILTER</h4><br></div>
              <br>
             <div class ="items">
          <div class ="user-details">
            <div class="input-box1">
                <span class="details">Name Contains</span>
           {{form.name_contains}}
            </div>
              <div class="input-box1">
                <span class="details">Registration Type</span>
           {{form.registration_types}}
            </div>
              <div class="input-box1">
                <span class="details">Service</span>
           {{form.services}}
            </div>
              <div class="input-box1">
                <span class="details">ESM Type</span>
           {{form.esm_type}}
            </div>
          <div class="input-box1">
                <span class="details">Trade</span>
           {{form.trades}}
            </div>
              <div class="input-box1">
                <span class="details">Rank Category</span>
           {{form.rank_categories}}
            </div>
            </div>
             <div class ="user-details">
                 <div class="input-box1">
                <span class="details">Record Office</span>
           {{form.record_offices}}
            </div>
            <div class="input-box1">
                <span class="details">Civil Qualification</span>
           {{form.civil_qualifications}}
            </div>
            <div class="input-box1">
                <span class="details">Employment Status</span>
           {{form.employment_status}}
            </div>
                 <div class="input-box1">
                <span class="details">Registered for Employment</span>
           {{form.employment_registration}}
            </div>
                 <div class="input-box1">
                <span class="details">Willing for Security job</span>
           {{form.security_job}}
            </div>
                 <div class="input-box1">
                <span class="details">Marital Status</span>
           {{form.marital_status}}
            </div>
            </div>
            <div class ="user-details">
            <div class="input-box1">
                <span class="details">Age</span>
           {{form.age_completed}}
                <span class="details">As of</span>
           {{form.dob_date}}
            </div>
                 <div class="input-box1">
                <span class="details">Enrollment Date</span>
           {{form.enrollment_date}}
                <span class="details">Condition</span>
           {{form.ed_conditions}}
            </div>
                 <div class="input-box1">
                <span class="details">Date of discharge</span>
           {{form.date_of_discharge}}
                <span class="details">Condition</span>
           {{form.dod_conditions}}
            </div>
                <div class="input-box1">
                <span class="details">City</span>
           {{form.city}}
            </div>
                 <div class="input-box1">
                <span class="details">District</span>
           {{form.district}}
            </div>
                 <div class="input-box1">
                <span class="details">State</span>
           {{form.state}}
            </div>
            </div>
            <div class="input-box" style="margin-top:17px;">
               <button style=" background:#677eff;
                    color:#fff;
                    border:1px solid #808080;
                    border-radius:4px;
                    outline:none;
                    padding:11px;" id="filter" type="button">Filter</button>
            </div>
            </div>
                 <div class ="user-details" style="margin-right:5px;flex-direction:column;">
            <div class="input-box" style="margin-top:17px;">
               <button style=" background:#677eff;
                    color:#fff;
                    border:1px solid #808080;
                    border-radius:4px;
                    outline:none;
                    padding:11px;" id="export" type="submit" >Export to Excel</button>
            </div>
            </div>
{#onclick="location.href='{% url "export" %}'"#}
            </div>
        <br>
    <div class="content">
      <div class="form-outer">
<form action="#" method="post" autocomplete="off">
          {% csrf_token %}



    <div class="table-responsive">
<table class="table table-hover">
              <thead >
                <tr>
                  <th>ESM NO</th>
                  <th>NAME</th>
                  <th>REGISTRATION TYPE </th>
                    <th>MOBILE NO</th>
                    <th>ACTION</th>
                </tr>
              </thead>
            <tbody id="esm_list">
            </tbody>
</table>
    </div>
<br><br>
      </form>
      </div>
    </div>
 </div>
    </form>
{% endblock %}
{% block script %}
    <script src="{% static "javascript/registration/filter_esm.js" %}"></script>
{% endblock %}
