{% extends 'exservicemen/usertemplates/basic.html' %}


{% load static %}

{% block content %}


 <div class="container">
     <div class="title">
         <h4>ESM DETAILS</h4><br></div>
         <div class="tabs">
          <div><button id="defaultOpen" class="Next" onclick="details(Event,'service')" >Service</button></div>
          <div><button class="Next" >Pension</button></div>
          <div><button class="Next" >Personal</button></div>
         <div><button class="Next" >Employment</button></div>
          <div><button class="Next" >Contact</button></div>
          <div><button class="Next" >Family</button></div>
          <div><button class="Next" >Dependent</button></div>

        </div><br><br><br>
    <div class="content">

      <div class="form-outer">

      <form action="#" name="personalform" id="personalform" method="post" autocomplete="on" data-districts-url="{% url 'ajax_load_districts' %}">
          {% csrf_token %}

  <div class="tab" id="pension">
        <div class="detailname" style="overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;">
            <h4>PERSONAL DETAILS</h4>

            </div><br>
          <br><br>
        <div class="user-details">
          <div class="input-box">

            <span class="details">Date of Birth</span>
            {{ form.dob }}
          </div>
          <div class="input-box">

              <span class="details">Gender</span>
             {{ form.gender }}
          </div>
             <div class="input-box">

             <span class="details">Father Name</span>
                 {{ form.father }}

          </div>
          <div class="input-box">

             <span class="details">Mother Name</span>
           {{ form.mother }}
          </div>

          <div class="input-box">

            <span class="details">Religion</span>
            {{ form.religion }}
          </div>
          <div class="input-box">

            <span class="details">Caste Category</span>
            {{ form.caste_category }}
          </div>
          <div class="input-box">

             <span class="details">Birth Place</span>
            {{ form.birth_place }}

          </div>
            <div class="input-box">
            <span class="details">Birth State</span>
            {{ form.birth_state }}
          </div>
            <div class="input-box">
            <span class="details">Birth District</span>
            {{ form.birth_district }}
          </div>
            <div class="input-box">
             <span class="details">Aadhaar No</span>
            {{ form.aadhaar_no }}

          </div>
          <div class="input-box">
             <span class="details">Voter ID No</span>
            {{ form.voter_id_no }}

          </div>

          <div class="input-box">
             <span class="details">PAN No</span>
            {{ form.pan_no }}

          </div>
          <div class="input-box">
             <span class="details">CSD No</span>
            {{ form.csd_no }}

          </div>
          <div class="input-box">

             <span class="details">ECHS No</span>
            {{ form.echs_no }}

          </div>
          <div class="input-box">

             <span class="details">Identification Mark1</span>
            {{ form.ident_mark_1 }}

          </div>
          <div class="input-box">

             <span class="details">Identification Mark 2</span>
            {{ form.ident_mark_2 }}

          </div>
            <div class="input-box">
            <span class="details">Expiry Date</span>
            {{ form.expiry_date }}
          </div>

        </div>
        <div class="btn-box">
			<button type="button" class="Next" onclick="location.href='{% url "pension details" %}'">BACK</Button>
			<button type="submit" value="Submit" class="Next">NEXT</Button>
		</div>
    </div>
      </form>
      </div>
    </div>
 </div>
{% endblock %}
{% block script %}
    <script src="{% static "javascript/registration/personal.js" %}"></script>
{% endblock %}