{% extends 'exservicemen/base.html' %}
{% load static %}
{% block title %} WELFARE OFFICER HOME {% endblock %}

{% block top %}
     {% if user.is_authenticated %}
    <li><a href=""> Welcome {{ request.user.email }}</a></li>
    <li><a href=""> My Profile</a></li>
    <li><a href="{% url 'logout'  %}">Logout</a></li>
    {% else %}
      <li><a href="{% url "officer login" %}">Board Login</a></li>
    <li><a href="{% url "user login" %}">User Login </a></li>
    {% endif %}
{% endblock %}
{% block content %}
{% endblock %}
