{% extends 'exserivcemen/usertemplates/base.html' %}
{% load static %} 

{% block content %}

    <div class="container" style="background-color: aliceblue">
    <form method="post"">
        <table border="1">
    {{ form }}
    </table>
        {% csrf_token %}
        <a href="{% url 'registraion.url' %}">To register click here</a>
        <a href="{% url 'postregistration.url' %}">click here</a>
    <input type="submit" class="btn btn-primary" value="submit">
    </form>
</div>

{% endblock %}