.board{


    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.boardnm{
    background:#677eff;
    width:15%;
    height:20%;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    padding:15px 15px;
    color:#fff;
    text-align:center;

}
.boardname{
    background:#fff;
    width:15%;
    height:20%;
    font-size:19px;
     border-top-right-radius:5px;
     border-top-right-radius:5px;
    padding:15px 15px;
    color:#677eff;
    border:1px solid #677eff;
    text-align:center;

}
.containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.containers .box{
    position:relative;
    width:200px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 4px;
    overflow:hidden;
    text-align: center;
    align-items: center;
    margin: 20px 20px 3%;
}


.containers .box .icon{
    position: relative;
    width: 55px;
    height: 55px;
    color:#fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;

}

.containers .box .icon{
    box-shadow: 0 0 0 0 #677eff;
    background: #677eff;
}

.containers .box:hover .icon{
    box-shadow: 0 0 0 400px #677eff;
}
.containers .box .content{

    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.containers .box:hover .content{
    color: #fff;
}

.containers .box .content h4{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    padding: 0;
}
.containers .box .content p{
    font-weight: bold;

    margin: 0;
    padding: 0;
}
.link{
    display: inline-block;
    padding:10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color:#677eff;
    border: 1px solid #fff;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

@media (max-width:480px){
    .board{
       width:100%;

    }
    .boardname{
       width:40%;
         padding:4px;
         border:none;
    }

    .boardnm{
        width:60%;
        padding:4px;
    }
}
@media (max-width:960px){


    .boardnm{
        width:30%;
    }
    .boardname{
        width:30%;


    }

}